@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
body{
	background: #0b1d29;
	padding: 0 10px;
}
.registrasi{
	/* KUNCI UTAMA RESPONSIF ITU DI max-width */
	max-width: 500px;
	width: 100%;
	background: #f9f8e5;
	margin: 50px auto;
	padding: 30px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
}
.registrasi .title{
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 25px;
	color: #102a3b;
	text-transform: uppercase;
	text-align: center;
}
.registrasi a{
	margin-left: 44%;
	font-size: 12px;
	color: #102a3b;
}
.registrasi .form{
	width: 100%;
}
.registrasi .form .data{
	margin-bottom: 14px;
	display: flex;
	align-items: center;
}
.registrasi .form .data label{
	/* width = biar si inputannya sama semua sejajar */
	width: 200px;
	color: #333;
	margin-right: 10px;
	font-size: 15px;
}
.registrasi .form .data .input{
	width: 100%;
	outline: none;
	border: 1px solid #102a3b;
	font-size: 15px;
	padding: 4px 10px;
	border-radius: 3px;
	transition: all 0.3s ease;
}
.registrasi .form .data.bawah{
	margin-bottom: 30px;
}
.registrasi .form .data .pilihan{
	position: relative;
	width: 100%;
	height: 40px;
}
.registrasi .form .data .pilihan select{
	/* biar tanda panah kebawah ilang */ 
	-webkit-appearance : none;
	appearance : none;
	border: 1px solid #102a3b;
	width: 100%;
	height: 100%;
	padding: 6px 10px;
	border-radius: 3px;
	outline: none;
}
.registrasi .form .data .pilihan:before{
	content: "";
	position: absolute;
	top: 12px;
	right: 10px;
	border: 8px solid;
	/* buat bikin tanda panah, semuanya kode di before ini sih */
	border-color: #333 transparent transparent transparent;
	/* kan kalo gapke ini list nya keluar cmn pas klik ada kata2nya, ditanda panahnya gabisa
	kalo make tanda di tanda panah klik bisa */
	pointer-events: none;
}
.registrasi .form .data .input:focus{
	border: 1px solid #b3c6b3;
}
.registrasi .form .data p{
	font-size: 14px;
	color: #333;
}
.registrasi .form .data .btn{
	width: 100%;
	padding: 8px 10px;
	font-size: 17px;
	border: 0;
	background: #102a3b;
	color: #f9f8e5;
	cursor: pointer;
	border-radius: 3px;
	outline: none;
}
.registrasi .form .data:last-child{
	margin-bottom: 0;
}
.registrasi .form .data .btn:hover{
	opacity: 0.6;
}

@media screen and (max-width: 435px){
	.registrasi .form .data{
		flex-direction: column;
		align-items: flex-start;
	}
	.registrasi .form .data label{
		margin-bottom: 5px;
	}
}